/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif; 
    background-color: #f9f9f9; 
    color: #333; 
    line-height: 1.6;
    transition: all 0.3s ease;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif; 
    color: #222; 
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333; 
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 10;
    height: 70px;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #f4f4f4;
}

.hamburger:hover {
    color: #e08e45;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar .nav-links li a {
    color: #f4f4f4; 
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #e08e45;
}

.navbar .social-icons {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar .social-icons li a {
    color: #f4f4f4; 
    font-size: 2rem;
    transition: color 0.3s ease;
}

.navbar .social-icons li a:hover {
    color: #e08e45;
}


/* Header */
header {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)); 
    color: #f0f0f0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 70px;
    padding-top: 1rem; 
}

header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #f0f0f0; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); 
}

header p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #e0e0e0; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}

header .btn {
    background: #e08e45; 
    color: #fff; 
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-size: 1rem;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

header .btn:hover {
    background: #cf7740; 
}

/* Hero Image */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text a {
    text-decoration: none;
}

.hero-image {
    max-width: 40%;
}

.hero-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* About Me Section */
#about-me {
    padding: 4rem 0;
    background: #f4f4f4; 
    text-align: center;
}

#about-me h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #222; 
}

#about-me p {
    font-size:1.5rem;
    max-width: 800px;
    margin: 0 auto;
    color: #555; 
    line-height: 1.8;
}

#about-me a {
    text-decoration: none;
}

/* Skills Section */
#skills {
    padding: 4rem 0;
    background: #f4f4f4; 
    text-align: center;
}

#skills h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #222; 
}

/* Skill Item Design */
.skills-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 2rem;
}

.skills-container img{
    width:5rem;
    height: 5rem;
}

.skill-item {
    background: #fff; 
    border-radius: 8px;
    padding: 1.5rem;
    width: 250px; 
    height: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: scale(1.05);
}

.skill-icon {
    font-size: 3rem; 
    color: #e08e45;
    margin-bottom: 1rem;
}

.skill-item h3 {
    font-size: 1.5rem;
    color: #333; 
    margin-bottom: 0.5rem;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
}

.rating i {
    color: #e08e45;
    font-size: 1.2rem;
}

/* Projects Section */
#projects {
    background: #f4f4f4;
    padding: 4rem 0;
    text-align: center;
}

#projects h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #222;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-card {
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
}

.project-card h3{
    text-align: center;
    margin-bottom: 30px;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.techstack {
    text-align: center;
    margin-bottom: 30px;
}

.techstack h4{
    margin-bottom: 15px;
}

.button-to-demo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 15px;
    background-color: #e08e45;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #cf7740;
}


/* Contact Section */
#contact {
    background: #f4f4f4; 
    color: #333; 
    padding: 4rem 0;
    text-align: center;
}

#contact h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #222; 
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff; 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

form button {
    padding: 1rem 2rem;
    background: #e08e45;
    color: #fff; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #cf7740;
}

/* Footer */
footer {
    background: #333; 
    color: #f4f4f4; 
    text-align: center;
    padding: 1rem 0;
}

/* Responsive Styles */

/* Responsive Styles for Mobile */
@media (max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    /* Navbar */
    .navbar .nav-links {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .navbar .nav-links li a {
        font-size: 1.2rem;
    }

    .navbar .social-icons {
        gap: 0.5rem;
    }

    /* Header adjustments */
    header {
        height: auto;
        padding: 2rem 1rem;
        text-align: center;
    }

    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .hero {
        flex-direction: column;
        margin-top: 8rem;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-image {
        max-width: 80%;
        margin-top: 2rem;
        margin-bottom: 9rem;
    }

    .hero-image img {
        max-width: 70%;
    }

    /* About Me section */
    #about-me h2 {
        font-size: 2.5rem;
    }

    #about-me p {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    /* Skills section */
    .skills-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 2rem;
    }

    #skills h2 {
        font-size: 2.5rem;
    }

    /* .skills-container {
        flex-direction: column;
        gap: 1.5rem;
    } */

    .skill-item {
        width: 100%;
        height: auto;
    }

    .skill-item img {
        width: 4rem;
        height: 4rem;
    }

    /* Project section */
    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-card img {
        height: auto;
    }

    .project-card {
        text-align: center;
    }

    /* Contact form */
    form input, form textarea {
        font-size: 1rem;
        padding: 0.8rem;
    }

    form button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }

    #contact h2 {
        font-size: 2.5rem;
    }
}


/* Desktop styles */
@media (min-width: 1025px) {
    
    .hero-text {
        max-width: 50%;
    }

    .hero-image {
        max-width: 40%;
    }
}


/* Responsive Hamburger Menu */
@media (max-width: 900px) {
    /* Hide the nav links and show the hamburger */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        z-index: 5;
    }

    .hamburger {
        display: block;
    }

    /* Show nav-links when active */
    .nav-links.active {
        display: flex;
    }
}